
@{
    ViewBag.Title = "İstatistikler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content">
    <br />
    <h2 style="text-align:center">İstatistikler</h2>
    <br />
    <div class="row">
        <div class="card" style="width: 18rem;margin-left:5px;background-color:rosybrown">
            <div class="card-body">
                <h5 class="card-title"><strong>Toplam kategori sayısı</strong></h5>
                <h1 class="card-text">@ViewBag.CategoryCount</h1>
            </div>
        </div>

        <div class="card" style="width: 18rem;margin-left:10px;background-color:gray;">
            <div class="card-body">
                <h5 class="card-title"><strong>Başlık tablosunda "yazılım" kategorisine ait başlık sayısı</strong></h5>
                <h1 class="card-text">@ViewBag.yazilimBasliklariCount</h1>
            </div>
        </div>

        <div class="card" style="width: 18rem;margin-left:10px;background-color:seagreen;">
            <div class="card-body">
                <h5 class="card-title"><strong>Yazar adında 'a' harfi geçen yazar sayısı</strong></h5><br />
                <h1 class="card-text">@ViewBag.yazarlar</h1>
            </div>
        </div>

        <div class="card" style="width: 18rem;margin-left:10px;background-color:lightsalmon;">
            <div class="card-body">
                <h5 class="card-title"><strong>En fazla başlığa sahip kategori adı</strong></h5>
                <h1 class="card-text">@ViewBag.TopCategory</h1>
            </div>
        </div>

        <div class="card" style="width: 18rem;margin-left:10px;background-color:mediumturquoise">
            <div class="card-body">
                <h5 class="card-title"><strong>Kategori tablosunda durumu true olan kategoriler ile false olan kategoriler arasındaki sayısal fark</strong></h5>
                <h1 class="card-text">@ViewBag.Fark</h1>
            </div>
        </div>

    </div>
</div>